-- This file needs to be copied to `Credentials.lua` with appropriate
-- credentials filled in.

local Credentials = {}

Credentials.WIFI_CONFIG = {}
Credentials.WIFI_CONFIG.ssid = "ACCESS_POINT_NAME"
Credentials.WIFI_CONFIG.pwd = "ACCESS_POINT_PASSWORD"

return Credentials
